@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 2px;
    text-align: center;
}

nav {
    margin: 0 auto;
    /* padding-top: 2rem; */
    line-height: 8rem;
    max-width: 600px;
    font-size: 3rem;
    font-family: "Bitcount Grid Single", system-ui;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
    border-radius: 2rem;
    border: 2px solid black
}

li {
    list-style-type: none;
    border-top: 2px solid black;
}

ul li a{
    color: black;
    text-decoration: none;
    display: block;
}

nav li a:hover{
    background-color: black;
    color: whitesmoke;
}

nav li:last-child a{
    border-radius: 0 0 2rem 2rem;
}

h2 {
    background-color:rgb(235, 212, 110);
    border-radius: 2rem 2rem 0 0;
}

p {
    padding-top: 1rem;
}
