* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  max-width: 600px;
  place-content: center;
  margin: auto;
  border-left: 3px solid black;
  border-right: 3px solid black;
  background-color: white;
}

html {
  background-image: linear-gradient(to bottom, black, gray);
}

body {
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  position: sticky;
  top: 0;
  background-color: blue;
  color: white;
  padding: 0.25rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  overflow-y: auto;
  padding: 0.5rem;
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: whitesmoke;
  text-align: center;
  padding: 0.25rem;
}

.main__ul {
  list-style-type: none;
  width: 100%;
}

.ul__li {
  background-color: lightgreen;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border: 3px solid black;
  margin-bottom: 0.5rem;
}

.ul__li:is(:focus-within, :hover) label{
  text-decoration: underline;
}

li input[type=checkbox] {
  height: 100px;
  width: 100px;
}

.out {
  position: absolute;
  top: -100000px;
}

.form {
  width: 100%;
  height: auto;
  display: flex;
  gap: 5px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.233);
}

.form__inputText {
  width: calc(100% - 80px);
  height: 80px;
  font-size: inherit;
  border-radius: 20px;
  flex-grow: 1;
}

.addItem__submit {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}

.addItem__icon {
  width: 100%;
  height: auto;
}

.addItem__icon:focus, .addItem__icon:hover {
  color: orange
}

