* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --container-size: clamp(100px, 60vw, 500px);
  --border: 3px solid black;
  --box-shadow: 1px 1px 3px black;
  --radius: 10px;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.main__div {
  background-color: transparent;
  width: var(--container-size);
  height: var(--container-size);
  border: var(--border);
  border-radius: var(--radius);
  display: grid;
  place-content: center;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: var(--box-shadow);
}

.main__form {
  width: var(--container-size);
  height: auto;
}

.form__input {
  width: 100%;
  height: 80px;
  border: var(--border);
  border-radius: var(--radius);
  font-size: 2rem;
  box-shadow: var(--box-shadow);
}

p {
  text-align: center;
}

.out {
  position: absolute;
  top: -100000px;
}