body {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: #ffefd5;
  color: #000
}

p {
  color: rgba(0, 0, 255, 0.5) /* rgb and "alpha": which define opacity */
}

/* Contrast checker: coolors.co */