* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: monospace;
}

form {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  position: sticky;
  top: 0;
}

.selected {
  background-color: #333;
  color: white;
}

ul {
  list-style-position: inside;
  margin: 1rem 0.5rem;
}

li {
  margin-bottom: 1rem;
}

ul li p {
  display: inline;
}

td, th {
  border: 1px solid black;
}

td p {
  padding-left: 2px;
}