@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  gap: 0.5rem;
  font-family: "Bitcount Grid Single";
  font-weight: bold;
  min-height: 100vh;
  display: grid;
  /* grid-template-columns: (9 ,1 fr); */
  grid-auto-rows: 50px auto;
  grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn sb sb"
    "ft ft ft ft ft ft ft ft ft";
}

.container {
  grid-area: mn;
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr);
  /*
  has 2 columns of this kind of repeat style. fr takes the hold window.
  */
  grid-auto-rows: minmax(150px, auto);
  /*
  if body height remaining has more it takes auto to expand the element
  */ 
  /* grid-template-rows: repeat(1, 1fr 1fr); */
  gap: 1rem;
}

.box {
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: 0.5rem;
}

.box:first-child {
  grid-column: 1 / 4;
  /*
  Start at 1 column and end in 4 column line.
  */
  grid-row: 1 / 3;
  background-color: #00f;
  display: grid;
  place-content: center;
}

.box:nth-child(2) {
  background-color: rgb(183, 31, 183);
  grid-column: 1 / 5;
  grid-row: 3 / 4;
}

.header {
  grid-area: hd;
}

.footer {
  grid-area: ft;
}

.side {
  grid-area: sb;
  background-color: #00f;
  color: #fff;
  display: grid;
  place-content: center;
}

.el {
  background-color: purple;
  color: #fff;
  display: grid;
  place-content: center;
}







